# Set this to the log level you wish to see
RUST_LOG="info"

# "mock", "ecdsa", or "bls"
CONTRACT_KIND="mock"

# corresponds to an entry in backend/wavs-home/wavs.toml
CHAIN_NAME="local"

# Replace these with `task cli:generate-env`

TEST_MNEMONIC=""
CLI_MNEMONIC=""
WAVS_AGGREGATOR_COSMOS_MNEMONIC=""
WAVS_COSMOS_SUBMISSION_MNEMONIC_1=""
WAVS_COSMOS_SUBMISSION_MNEMONIC_2=""
WAVS_COSMOS_SUBMISSION_MNEMONIC_3=""