# Set this to the log level you wish to see
RUST_LOG="info"

# "mock", "mirror", "ecdsa", or "bls"
CONTRACT_KIND="mock"

# corresponds to an entry in backend/wavs-home/wavs.toml
CHAIN_KEY="cosmos:uni-7"

# Replace these with `task cli:generate-env`
########################################################

# Address: juno1szxdcxh7k0w57asef404s20qu5p4yxln66ttzq
TEST_MNEMONIC="cream tag lawn suit program sure hurt record chimney camera dawn neither spice question quote wealth donate anger push hamster rent cause vague proof"

# Address: juno15arygz884tc26rsypdshst4sau47s79pkygr7f
CLI_MNEMONIC="aware ribbon width citizen early nation happy arrest security develop rocket wet cannon tail book solid same replace solve athlete rapid stone cram slogan"

# Address: juno1hr0cp2t29x3wauslzrrg0fpmv495drd3hdvvjz
WAVS_AGGREGATOR_COSMOS_MNEMONIC="grab tumble tag beach galaxy theory indoor blur sugar honey evil conduct stamp dream patient envelope change cherry slender typical away below crane verify"

# Address: juno1y7m8ar5ylyhj4x5p002ytswf3pxk7c52p08534
WAVS_COSMOS_SUBMISSION_MNEMONIC_1="select impose segment lock ten logic hand display office cigar burden absorb need say position another wet tenant shrug green combine trash siren seminar"

# Address: juno1eh577e98gna2x49wcsvh06ny9myt7wm3zce794
WAVS_COSMOS_SUBMISSION_MNEMONIC_2="magic secret neither endorse feature couple pretty trick chicken bullet reopen twenty return bundle ship safe weird owner main mix wife bread certain mail"

# Address: juno177qzf0gv5tgqzkwrms4q9fz9jf7rtg5a7z3mdc
WAVS_COSMOS_SUBMISSION_MNEMONIC_3="please tray engage tourist crime point sheriff phone east patient forget neutral bike attend weird impact cluster stairs canvas ahead question trip dog quote"
