# general IDE/OS stuff
*.vim
*.swo
*.swp
.DS_Store
.env
.vscode
.claude/
node_modules/
.task/

# Rust
target

# Cosmwasm
artifacts

# Interchain test 
backend/interchain-test/configs

# Wit dependencies
**/wit/deps